
    
    <nav class="custom-navbar">
        <a href="/" class="nav-link">MUSICPLUS</a>
    
        <div class="navbar-links">
            <a href="/main/" class="nav-link active">main</a>
            <a href="/my_music/" class="nav-link">my_music</a>
            <a href="/realtime_chart/" class="nav-link">realtime_chart</a>
            <a href="/123/" class="nav-link">123</a>
            <a href="/blog1/" class="nav-link">music_recommendations</a>
            <a href="/maker/" class="nav-link">maker</a>
            <a href="/blog/" class="nav-link">News</a>
    
            <div class="nav-dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown">이상형월드컵</a>
                <div class="dropdown-menu">
                    <a href="https://www.piku.co.kr/w/6E840f" class="dropdown-item">2020년대히트곡</a>
                    <a href="https://www.piku.co.kr/w/5237I6" class="dropdown-item">2000년~2009년히트곡</a>
                    <a href="https://www.piku.co.kr/w/4Khv3e" class="dropdown-item">팝송레전드</a>
                </div>
            </div>
        </div>
    
        <form action="#" method="post" class="form-inline">
            <input type="search" name="buscar" id="buscar" class="form-control" placeholder="검색하세요." aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">검색</button>
        </form>
    </nav>
    
    
    
    
    
    
    {% comment %} 여기는 부트스트랩으로 한 navbar {% endcomment %}
    {% comment %} <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a href="/" class="navbar-brand">MUSICPLUS</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a href="/" class="nav-item active nav-link">main</a>
                    <a href="/my_music/" class="nav-item active nav-link">my_music</a>
                    <a href="/realtime_chart/" class="nav item active nav-link">realtime_chart</a>
                    <a href="/music_recommendations/" class="nav item active nav-link">music_recommendations</a>
                    <a href="/maker/" class="nav item active nav-link">maker</a>
                    <a href="/blog/" class="nav item active nav-link">blog</a>
    
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">드롭다운형식</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#" class="dropdown-item">1</a>
                            <a href="#" class="dropdown-item">2</a>
                            <a href="#" class="dropdown-item">3</a>
                        </div>
                    </li>
                </ul>
    
                <form action="#" method="post" class="form-inline my-2 mylg-0">
                    <input type="search" name="buscar" id="buscar" class="form-control mr-sm-2" placeholder="검색하세요." aria-label="Buscar">
                    <button class="btn btn-outline-success" type="submit">검색</button>
                </form>
            </div>
        </nav> {% endcomment %}